@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 253 254 254;
    --foreground: 23 20 21;
    --surface: 238 247 246;
    --card: 253 254 254;
    --card-foreground: 23 20 21;
    --popover: 253 254 254;
    --popover-foreground: 23 20 21;
    --primary: 12 170 157;
    --primary-foreground: 253 254 254;
    --secondary: 222 237 236;
    --secondary-foreground: 23 20 21;
    --muted: 222 237 236;
    --muted-foreground: 82 64 57;
    --accent: 29 152 220;
    --accent-foreground: 253 254 254;
    --destructive: 185 28 28;
    --destructive-foreground: 253 254 254;
    --border: 195 214 212;
    --input: 195 214 212;
    --ring: 12 170 157;
    --radius: 0.5rem;
  }

  .dark {
    --background: 13 25 26;
    --foreground: 253 254 254;
    --surface: 24 43 44;
    --card: 18 35 36;
    --card-foreground: 253 254 254;
    --popover: 18 35 36;
    --popover-foreground: 253 254 254;
    --primary: 12 170 157;
    --primary-foreground: 253 254 254;
    --secondary: 31 60 61;
    --secondary-foreground: 253 254 254;
    --muted: 31 60 61;
    --muted-foreground: 195 214 212;
    --accent: 96 177 196;
    --accent-foreground: 13 25 26;
    --destructive: 248 113 113;
    --destructive-foreground: 13 25 26;
    --border: 54 88 90;
    --input: 54 88 90;
    --ring: 12 170 157;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: 0;
}
